<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>New app component tests. Creates Component, Router, Presenter, Interactor and ViewController specs</string>
	<key>Summary</key>
	<string>New Viper component tests</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Does not matter - ignore</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>componentName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Component name:</string>
			<key>Description</key>
			<string>The name of the component to create tests for</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
